/* -------------------------------- */
/* Custom fonts
/* -------------------------------- */
/* ******************************** */
/* blanch-condensed
/* ******************************** */
@font-face {
  font-family: 'blanch-condensed';
  src: url("../Fonts/blanch-condensed.eot");
  src: url("../Fonts/blanch-condensed.eot?#iefix") format("embedded-opentype"), url("../Fonts/blanch-condensed.woff") format("woff"), url("../Fonts/blanch-condensed.ttf") format("truetype"), url("../Fonts/blanch-condensed.svg#blanch-condensed") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ******************************** */
/* avenir-medium
/* ******************************** */
@font-face {
  font-family: 'avenir-medium';
  src: url("../Fonts/avenir-medium.eot");
  src: url("../Fonts/avenir-medium.eot?#iefix") format("embedded-opentype"), url("../Fonts/avenir-medium.woff") format("woff"), url("../Fonts/avenir-medium.woff2") format("woff2"), url("../Fonts/avenir-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* ******************************** */
/* avenir-medium-oblique
/* ******************************** */
@font-face {
  font-family: 'avenir-medium-oblique';
  src: url("../Fonts/avenir-medium-oblique.eot");
  src: url("../Fonts/avenir-medium-oblique.eot?#iefix") format("embedded-opentype"), url("../Fonts/avenir-medium-oblique.woff") format("woff"), url("../Fonts/avenir-medium-oblique.woff2") format("woff2"), url("../Fonts/avenir-medium-oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* ******************************** */
/* avenir-black
/* ******************************** */
@font-face {
  font-family: 'avenir-black';
  src: url("../Fonts/avenir-black.eot");
  src: url("../Fonts/avenir-black.eot?#iefix") format("embedded-opentype"), url("../Fonts/avenir-black.woff") format("woff"), url("../Fonts/avenir-black.woff2") format("woff2"), url("../Fonts/avenir-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* ***** BASE STYLES ***** */
h1 {
  font-size: 30px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

h2 {
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

h3 {
  font-size: 18px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

h4 {
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif; }

*:focus {
  outline: 0; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.width-fluid {
  width: 100%; }

.no-border {
  border: 0 !important; }

.no-padding {
  padding: 0 !important; }

.padding-30 {
  padding: 30px; }

/* ********************************** */
/* body
/* ********************************** */
body {
  overflow: hidden;
  position: relative;
  background-color: #333; }

/* ********************************** */
/* #canvas
/* ********************************** */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: 0;
  padding: 0; }

/* ********************************** */
/* .direction-nav
/* ********************************** */
.direction-nav {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none; }
  .direction-nav a {
    position: absolute;
    display: block;
    z-index: 1000; }

/* ********************************** */
/* .wrap
/* ********************************** */
.wrap {
  height: 100%;
  width: 100%;
  border: 30px solid #ccc;
  display: none; }

/* ********************************** */
/* .slide-container
/* ********************************** */
.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: none; }

/* ********************************** */
/* .view
/* ********************************** */
.view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .view p, .view h2, .view h3, .view div {
    color: #fff !important; }

.slideLeft.ng-enter, .slideLeft.ng-leave, .slideRight.ng-enter, .slideRight.ng-leave,
.slideUp.ng-enter, .slideUp.ng-leave, .slideDown.ng-enter, .slideDown.ng-leave {
  -webkit-transition: all .4s ease-out;
  transition: all .4s; }

.slideLeft.ng-enter {
  left: 100%; }

.slideLeft.ng-enter.ng-enter-active {
  left: 0; }

.slideLeft.ng-leave.ng-leave-active {
  left: -100%; }

.slideRight.ng-enter {
  left: -100%; }

.slideRight.ng-enter.ng-enter-active {
  left: 0; }

.slideRight.ng-leave.ng-leave-active {
  left: 100%; }

.slideDown.ng-enter {
  top: -1000px; }

.slideDown.ng-enter.ng-enter-active {
  top: 0; }

.slideDown.ng-leave.ng-leave-active {
  top: 1000px; }

.slideUp.ng-enter {
  top: 1000px; }

.slideUp.ng-enter.ng-enter-active {
  top: 0; }

.slideUp.ng-leave.ng-leave-active {
  top: -1000px; }

/************ keyframes ************/
/* scale and fade */
@keyframes scaleDown {
  to {
    opacity: 0;
    transform: scale(0.8); } }
@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.8); } }
@keyframes scaleUpDown {
  from {
    opacity: 0;
    transform: scale(1.2); } }
@keyframes scaleDownUp {
  to {
    opacity: 0;
    transform: scale(1.2); } }
@keyframes scaleDownCenter {
  to {
    opacity: 0;
    transform: scale(0.7); } }
@keyframes scaleUpCenter {
  from {
    opacity: 0;
    transform: scale(0.7); } }

/*# sourceMappingURL=generic-skin.css.map */
